{% extends "base.html.twig" %}

{% block title %} Search and Reserve {% endblock %}

{% block body %}

<h1> Veuillez écrire le titre de l'ouvrage que vous voulez réserver </h1>

{{form(form)}}

{% endblock %}